<form action="" method="post">
  <label for="oldurl">Your URL:</label>
  <input id="oldurl" class="textfield" type="text" name="oldurl" />
  <label for="postfix">Prefered URL postfix, 20 characters or less (optional):</label>
  <input id="postfix" class="textfield" type="text" name="postfix" maxlength="20"/>
  <input id="submit" type="submit" value="Shorten my URL"/>
</form>
<% if defined? newurl %>
<div id="newurl">
Your tiny CAT URL: <%= domain + "/" + newurl %>
</div>
<% end %>
<% if defined? error and !error.nil? %>
<div id="error">
There was an error: <%= error %>
</div>
<% end %>
