<form action="" method="post">
  Your URL: <input id ="oldurl" type="text" name="oldurl" />
  <br />
  <br />
  <input id="submit" type="submit" value="Shorten my URL"/>
</form>
<br />
<% if defined? newurl %>
Your tiny CAT URL: <%= domain + "/" + newurl %>
<% end %>
