<form action="" method="post">
  Your URL: <br />
  <input id="oldurl" class="textfield" type="text" name="oldurl" />
  <br />
  Prefered URL postfix, 20 characters or less (optional): <br />
  <input id="postfix" class="textfield" type="text" name="postfix" maxlength="20"/>
  <br />
  <input id="submit" type="submit" value="Shorten my URL"/>
</form>
<br />
<% if defined? newurl %>
<div id="newurl">
Your tiny CAT URL: <%= domain + "/" + newurl %>
</div>
<% end %>
<% if defined? error and !error.nil? %>
<div id="error">
There was an error: <%= error %>
</div>
<% end %>
