<form action="makeurl" method="post">
  Your URL: <input type="text" name="oldurl" />
  <br />
  <br />
  <input type="submit" value="Shorten my URL"/>
</form>
<br />
<% if defined? newurl %>
Your tiny CAT URL: <%= domain + "/" + newurl %>
<% end %>
