<!DOCTYPE html>
<html>
<head>
  <title>Lil' Url</title>
  <link rel="stylesheet" type="text/css" href="css/lilurl.css">
  <style>
  </style>
</head>
<body>
  <header>
    <h1>Lil' Url</h1>
  </header>
  <div id="wrapper">
  <%=yield %>
  </div>
</body>
</html>
